In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("transaction_data.csv", header = None)
df.head(50000)

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,TransactionID,CustID,Date,Employee,ProductID,ProductName,VendorID,ProductVendor,UnitPrice,Quantity,Subtotal,Tax(8%),OrderTotal
1,10258,1,7/17/2023,Nancy Davolio,32,Mascarpone Fabioli,14,Formaggi Fortini s.r.l.,25.6,6,153.6,12.29,165.89
2,10275,2,8/7/2023,Nancy Davolio,24,Guaran Fantstica,10,Refrescos Americanas LTDA,3.6,12,43.2,3.46,46.66
3,10275,2,8/7/2023,Nancy Davolio,59,Raclette Courdavault,28,Gai pturage,44,6,264,21.12,285.12
4,10292,3,8/28/2023,Nancy Davolio,20,Sir Rodney's Marmalade,8,"Specialty Biscuits, Ltd.",64.8,20,1296,103.68,1399.68
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1349,11016,20,4/10/2025,Anne Dodsworth,31,Gorgonzola Telino,14,Formaggi Fortini s.r.l.,12.5,15,187.5,15,202.5
1350,11016,20,4/10/2025,Anne Dodsworth,36,Inlagd Sill,17,Svensk Sjfda AB,19,16,304,24.32,328.32
1351,11058,82,4/29/2025,Anne Dodsworth,21,Sir Rodney's Scones,8,"Specialty Biscuits, Ltd.",10,3,30,2.4,32.4
1352,11058,82,4/29/2025,Anne Dodsworth,60,Camembert Pierrot,28,Gai pturage,34,21,714,57.12,771.12
1353,11058,82,4/29/2025,Anne Dodsworth,61,Sirop d'rable,29,Forts d'rables,28.5,4,114,9.12,123.12

In [3]:
df.columns = df.iloc[0]
df = df.drop(0).reset_index()
df

,index,TransactionID,CustID,Date,Employee,ProductID,ProductName,VendorID,ProductVendor,UnitPrice,Quantity,Subtotal,Tax(8%),OrderTotal
0,1,10258,1,7/17/2023,Nancy Davolio,32,Mascarpone Fabioli,14,Formaggi Fortini s.r.l.,25.6,6,153.6,12.29,165.89
1,2,10275,2,8/7/2023,Nancy Davolio,24,Guaran Fantstica,10,Refrescos Americanas LTDA,3.6,12,43.2,3.46,46.66
2,3,10275,2,8/7/2023,Nancy Davolio,59,Raclette Courdavault,28,Gai pturage,44,6,264,21.12,285.12
3,4,10292,3,8/28/2023,Nancy Davolio,20,Sir Rodney's Marmalade,8,"Specialty Biscuits, Ltd.",64.8,20,1296,103.68,1399.68
4,5,10293,4,8/29/2023,Nancy Davolio,18,Carnarvon Tigers,7,"Pavlova, Ltd.",50,12,600,48,648
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1348,1349,11016,20,4/10/2025,Anne Dodsworth,31,Gorgonzola Telino,14,Formaggi Fortini s.r.l.,12.5,15,187.5,15,202.5
1349,1350,11016,20,4/10/2025,Anne Dodsworth,36,Inlagd Sill,17,Svensk Sjfda AB,19,16,304,24.32,328.32
1350,1351,11058,82,4/29/2025,Anne Dodsworth,21,Sir Rodney's Scones,8,"Specialty Biscuits, Ltd.",10,3,30,2.4,32.4
1351,1352,11058,82,4/29/2025,Anne Dodsworth,60,Camembert Pierrot,28,Gai pturage,34,21,714,57.12,771.12
1352,1353,11058,82,4/29/2025,Anne Dodsworth,61,Sirop d'rable,29,Forts d'rables,28.5,4,114,9.12,123.12